@keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }
  
  .optionInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 70.33333px;
    right: 0;
    bottom: 0;
    left: -33%;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .optionInput:hover {
    background: #9faab7;
  }
  .optionInput:checked {
    background: orange;
  }
  .optionInput:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }
  .optionInput:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: orange;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .optionInput.radio {
    border-radius: 50%;
  }
  .optionInput.radio::after {
    border-radius: 50%;
  }
  
  
.Label {
      color: green;
    display: block;
    line-height: 40px;
    font-size:22px;
     margin-right: 50px;
    padding-bottom: 10px;
     
  }
  .DivLabel {
    text-align: left;
    width: 44%;
    margin: 0 auto;
  }
  .DivLabel:first-child {
    padding-top: 50px;
  }
  
  @media only screen and (max-width:768px) {
    .Label {
      color: green;
    display: block;
    line-height: 29px;
    font-size:23px;
 margin-right:0;
  }
  .DivLabel {
    text-align: center; 
  }
  .DivLabel:first-child {
    padding-top: 25px;
  }

  .optionInput {
    
    position: relative;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #fcc50d;
   
  }
  .optionInput.radio {
    top:40px;
    left:-83px;
  }
  
  }

 