.Quiz {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: hsl(171, 100%, 41%);
    width: 100%;
    height:100vh;
    
}
.životinje {
    
    background: #22c1c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 
}
.biljke {
    background: #2b7901;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #EBEB1D, #2b7901);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #EBEB1D, #2b7901); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
.čovek {
    background: #40E0D0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.Wrap {
    
    height:15px;
    width: 400px;
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 1em;
}
.Fill {
    height: 100%;
    border-radius: inherit;
    transition: width 0.2s ease-in
}
.Slika {
     
}
.PitanjeFlex {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
@media only screen and (max-width:768px){
    .Quiz {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Slika {
        display:none;
    }
    .PitanjeFlex {
        width: 85%;
        margin-top: 1em;
    }
    .Wrap {
        width: 100%;
        margin-top: 0;
    }
}
