.Quiz {
    
    width: 100%;
    text-align: center;
    background-color: hsl(171, 100%, 41%);
    width: 100%;
    height: 37.95em;
    
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: cover;
}
.životinje {
    
    background: url("../../assests/images/slike/zivotinje.jpg") no-repeat center center; 
 
}
.biljke {
    background: url("../../assests/images/slike/biljke.jpg") no-repeat center center ; 
}
.čovek {
    background: url("../../assests/images/slike/covek.jpg") no-repeat center center;
}
.Wrap {
    position: relative;
    top: -420px;
    right: -488px;
    height:15px;
    width: 400px;
    border: 1px solid black;
    border-radius: 50px;
}
.Fill {
    height: 100%;
    border-radius: inherit;
    transition: width 0.2s ease-in
}
