.Quiz {
    border: 1px solid transparent;
    width: 100%;
    text-align: center;
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.životinje {
    
    background-image: url("../../assests/images/slike/zivotinje.jpg");
 
}
.biljke {
    background-image: url("../../assests/images/slike/biljke.png");
}
.Wrap {
    position: relative;
    top: -420px;
    right: -70px;
    height:350px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50px;
}
.Fill {
    width: 100%;
    border-radius: inherit;
    transition: height 0.2s ease-in
}
