.Hint {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    background-image: url("../../assests/images/slike/hint.jpg");
    background-color: white;
    width: 13%;
    border: 2px solid greenyellow;
    box-shadow: 1px 1px 1px gray;
    padding: 6px;
    left:82%;
    top:11%;
    box-sizing: border-box;
    height: 10em;
    transition: all 0.3s ease-out;
}