.Hint {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    background-image: url("../../assests/images/slike/hint.jpg");
    background-color: white;
    width: 16%;
    border: 2px solid black;
    box-shadow: 1px 1px 1px gray;
    padding: 6px;
    left:82%;
    top:28%;
    box-sizing: border-box;
    height: 17em;
    transition: all 0.3s ease-out;
}
.Par {
    letter-spacing: -0.9px;
    line-height: 1;
    position: absolute;
    top: 80%;
    width: 67%;
    left: 25px;
    padding: 2px;
    padding-right: 17px;
    padding-left: 10px;
}
.Close{
    position: apsolute;
    font-size: 25px;
    font-weight: bold;
    color:#D91E36;
    cursor: pointer;
}

@media only screen and (max-width:768px){

    .Hint {
        position: absolute;
        left:5%;
        top:11%;
        width: 85%;
        border: 2px solid black;
        box-shadow: 1px 1px 1px gray;
        padding: 6px;
        z-index: 500;
        box-sizing: border-box;
        height: 80%;
        transition: all 0.3s ease-out;
    }
    .Par {
        left:13%;
        font-size: 20px;
    }
    
}