.wraper {
  width: 100%;
  font-family: "Kavoon", cursive;
  letter-spacing: 0.2em;
  height: 800px;
  color: white;
  background: url("../../assests/images/slike/front.jpg") no-repeat center
    center;
  background-size: cover;
}

.uputstvo {
  color: orange;
  position: absolute;
  height: 40px;
  width: 130px;
  top: 10%;
  left: 15%;

  padding-top: 16px;
  text-transform: lowercase;
  font-size: 1.3em;
  transition: color 20s;
}

.uputstvo :hover {
  font-size: 1.4em;
  cursor: pointer;
  color: hsl(141, 71%, 48%);
  text-shadow: 2px 2px white;
}

.naslov {
  margin-right: 220px;
  padding-top: 150px;
  padding-bottom: 50px;
  font-size: 35px;
  text-shadow: 4px 4px white;
  color: orange;
}

.naslov h4 {
  color: hsl(141, 71%, 48%);
}
