.Quiz {
    border: 1px solid transparent;
    width: 100%;
    text-align: center;
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.zivotinje {
    
    background-image: url("../../assests/images/slike/zivotinje.jpg");
 
}
.biljke {
    background-image: url("../../assests/images/slike/biljke.png");
}