.Div {
    border: 5px solid transparent;
    border-radius:5px;
    width: 50%;
    height: 450px;
    margin: 0 auto;
    margin-top:20px;
    padding: 5px;
    background-color: antiquewhite;
}
.success {
    border-color: green;
}

.warning {
    border-color: yellow; 
}
.danger {
    border-color: red;
}
.info {
    border-color: blue;
}