.Div {
  border: 10px solid transparent;
  border-radius: 5px;
  width: 100%;
  height: 60%;
  margin: 0 auto;
  padding: 5px;
  background-color: mintcream;
  position: relative;
  top: 18%;
  left: 5%;
}
.success {
  border-color: hsl(141, 71%, 48%);
}

.warning {
  border-color: hsl(48, 100%, 67%);
}
.danger {
  border-color: hsl(348, 100%, 61%);
}
.info {
  border-color: hsl(204, 86%, 53%);
}

@media only screen and (max-width:768px){


  .Div {
    width: 80vw;
    height: 70vh;
   
    position: static;
    top: 0;
    left: 0;
  }
  .Div h2 {
    font-size: 18px;
  }
}