.Select {
  color: hsl(348, 100%, 61%);
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: cursive;
  border: 2px solid hsl(348, 100%, 61%);
  outline:none;
}


@media only screen and (max-width:768px) {
.Select {margin-top: 104px;}
}
