.Wrapper {
  width: 100%;
  background: #f7ff00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #d458ab, #edf33e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #d458ab, #edf33e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.Nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 20px;
  background-color: hsl(204, 86%, 53%);
  font-family: "Kavoon", cursive;
  letter-spacing: 0.2em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.Nav a {
  text-decoration: none;
  color: aliceblue;
}
.Nav a:hover {
  color: rgb(250, 255, 0);
}
.DivH1 {
   margin-top: 60px;
   padding-bottom: 50%;
}
.Table {
  margin-top: 50px;
  width: 50%;
  margin: 0 auto;

  border-collapse: collapse;
  font-size: 20px;
}
.Table th,
.Table td {
  border-collapse: collapse;
  padding: 20px;
  text-align: center;
}
.Table th {
  background-color: hsl(204, 86%, 53%);
  color: white;
}
.Table tbody > :nth-child(odd) {
  background: rgba(66, 185, 244, 0.7);
}
.Table tbody > :nth-child(even) {
  background: rgba(250, 255, 0, 0.7);
  color: white;
}

@media only screen and (max-width:768px) {
  .Table th,
  .Table td {
    font-size: 15px;
    padding: 5px;
  }
 
 .Nav {
   padding: 10px;
   font-size: 13px;
 }
 .Nav a {
   font-size: 16px;
 }
 .DivH1 {
  margin-top: 36px;
  padding-bottom: 100%;
}
}