.Li {
    width: 260px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    list-style: none;
    text-align: center;
    margin-bottom: 8px;
}
.Li:hover {
    cursor: pointer;
}
.Ul {
    padding: 40px;
    width: 50%;
    margin: 0 auto;
}