.FlexDiv {
    display: flex;
    flex-basis: 300px;
    max-width: 350px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.FlexDiv img:hover {
    cursor: pointer;
}

@media only screen and (max-width:768px){
    .FlexDiv{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(101px, 1fr) );
    }
    .Slika {
        width: 130px;
        
    }
}
/**/